[flake8]

exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    dist,
    docs
max-line-length = 80
ignore = 
    E111,  
    E114,
    E117,
    E121,
    E122,
    E123,
    W503,
    E203,
    F401
