/* Animations */

@keyframes float {

  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }

  25% {
    transform: translateY(-20px) translateX(10px);
  }

  50% {
    transform: translateY(-10px) translateX(-10px);
  }

  75% {
    transform: translateY(-30px) translateX(5px);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

/* Animation properties for all animated elements */

.dot {
  animation: float 6s ease-in-out infinite;
}

#enter-button .button-dot {
  animation: float 3s ease-in-out infinite;
}

.map-dot {
  animation: float 4s ease-in-out infinite;
}

.zone-button .zone-button-dot {
  animation: float 2s ease-in-out infinite;
}

.room-dot {
  animation: float 3s ease-in-out infinite;
}

.furniture-dot {
  animation: float 2s ease-in-out infinite;
}

.heart-beat {
  animation: heartBeat 1.2s ease-in-out infinite;
}